/* Estilo para centrar elementos */
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Esto asegura que el contenido esté centrado verticalmente en la pantalla */
}

/* Estilo para ajustar el ancho del cuadro de login */
.cuadro_login {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    /* Añadimos esta propiedad para centrar el contenido del cuadro de login */
}

/* Estilo para el botón "Ingresar" */
.boton_ingresar {
    width: 100%;
    max-width: 200px;
    /* Ajusta el ancho máximo del botón */
    margin-top: 20px;
    /* Espacio superior para separar el botón del contenido superior */
    margin-left: 24%;
}

